.news {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    @media screen and (max-width:499px) {
        border: none;
    }
    form {
        width: 100%;
        margin: 0;
        padding: 0 0 40px 0;
        border-bottom: 1px solid var(--border);
        .input {
            input,
            textarea {
                display: block;
                font-size: 16px;
                color: var(--foreground);
                line-height: 1.4;
                width: 100%;
                margin: 0 0 20px 0;
                padding: 12px;
                border: none;
                border-bottom: 1px solid var(--border);
                outline: none;
                background: var(--background)
            }
            textarea {
                resize: none;
                height: 120px;
            }
            .interaction {
                padding: 0 20px;
                label {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin: 0 0 10px 0;
                    background: url('../../../../public/upload-icon.svg') no-repeat center center;
                    background-size: contain;
                    cursor: pointer;
                    .file {
                        display: none;
                    }
                }
                .preview {
                    margin: 0 0 20px 0;
                    border-radius: 20px;
                }
            }
        }
        button {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: var(--background);
            width: 120px;
            margin: 0 20px 0 auto;
            padding: 8px;
            border: 1px solid var(--foreground);
            border-radius: 9999px;
            background: var(--foreground);
            transition: 0.5s;
            &:hover {
                color: var(--foreground);
                background: var(--background);
            }
        }
    }
    .newsList {
        width: 100%;
        margin: 0 0 40px 0;
        ul {
            li {
                margin: 0 0 20px 0;
                padding: 0 20px 20px;
                border-bottom: 1px solid var(--border);
                &:first-child {
                    padding: 20px;
                }
                &:last-child {
                    margin: 0;
                    border-bottom: none;
                }
                h3 {
                    font-size: 16px;
                    margin: 0 0 10px 0;
                }
                p {
                    font-size: 14px;
                    margin: 0 0 10px 0;
                }
                small {
                    font-size: 12px;
                    color: var(--border);
                    margin: 0 20px 0 0;
                }
                h3,
                p,
                small {
                    text-align: justify;
                    line-height: 1.7;
                }
                .eyecatch {
                    display: block;
                    width: 100%;
                    height: auto;
                    margin: 10px 0 0 0;
                    border-radius: 20px;
                }
                button {
                    font-size: 11px;
                    color: var(--foreground);
                    margin: 0 20px 0 0;
                    border: none;
                    background: none;
                }
                .borderBtn {
                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;
                    border-right: 1px solid var(--foreground);
                }
                textarea {
                    font-size: 16px;
                    line-height: 1.4;
                    color: var(--border);
                    width: 100%;
                    border: none;
                    outline: none;
                    background: none;
                    resize: none;
                }
            }
        }
    }
}