.news {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width:767px) {
        flex-direction: column;
        gap: 20px 0;
    }
    form {
        position: sticky;
        top: 40px;
        width: 30%;
        height: 100vh;
        margin: 0 0 20px 0;
        @media screen and (max-width:767px) {
            position: static;
            top: 0;
            width: 100%;
            height: auto;
        }
        .input {
            input,
            textarea {
                display: block;
                font-size: 12px;
                color: var(--foreground);
                line-height: 1.4;
                width: 100%;
                margin: 0 0 10px 0;
                padding: 8px;
                border: 1px solid var(--border);
                border-radius: 10px;
                background: var(--background)
            }
            textarea {
                resize: vertical;
                height: 70px;
            }
        }
        button {
            display: block;
            font-size: 12px;
            font-weight: bold;
            color: var(--foreground);
            width: 100%;
            padding: 8px;
            border: 1px solid #444343;
            border-radius: 10px;
            background: var(--background)
        }
    }
    .newsList {
        width: 65%;
        margin: 0 0 40px 0;
        @media screen and (max-width:767px) {
            width: 100%;
        }
        ul {
            li {
                margin: 0 0 20px 0;
                padding: 0 0 20px 0;
                border-bottom: 1px solid var(--border);
                &:last-child {
                    margin: 0;
                    padding: 0;
                    border-bottom: none;
                }
                h3 {
                    font-size: 16px;
                    margin: 0 0 10px 0;
                }
                p {
                    font-size: 14px;
                    margin: 0 0 10px 0;
                }
                small {
                    font-size: 12px;
                    color: var(--border);
                }
                h3,
                p,
                small {
                    text-align: justify;
                    line-height: 1.7;
                }
            }
        }
    }
}