:root {
  --foreground: #333;
  --background: #fff;
  --border: #ccc;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #000;
    --border: #444343;
  }
}
body {
  color: var(--foreground);
  background: var(--background);
}

*, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
}
a {
  text-decoration: none;
  color: var(--foreground);
  padding: 0 0 4px 0;
  border-bottom: 1px dashed var(--foreground);
  transition: .5s;
  &:hover {
    opacity: .5;
  }
}
ul {
  li {
    list-style: none;
  }
}
.sp { display: block; }
.pc { display: none; }
@media screen and (min-width:768px) {
  .sp { display: none; }
  .pc { display: block; }
}

main {
  width: 100%;
  max-width: 480px;
  height: 100vh;
  margin: 0 auto 40px;
}