.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid var(--border);
}
.header .logo,
.header .btn {
    font-family: 16px;
    color: var(--foreground);
    padding: 0;
    border: none;
}